@font-face {
  font-family: "digitalDisco";
  src: url("fonts/DigitalDisco.ttf") format("truetype");
  font-display: swap;
}

body {
  background-image: url(./img/body_bg/body_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: digitalDisco, Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: url("img/cursor/cursor_1.png"), auto;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.start_game_btn {
  margin: 0;
  border: 2px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(0, 0, 0, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  border-radius: 20px;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
}

.start_game_btn p {
  font-family: digitalDisco, Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.719);
  letter-spacing: 10px;
  margin: 15px 0 0 0;
}

.start_game_btn:hover {
  cursor: url("img/cursor/cursor_2.png"), auto;
  background-color: rgba(0, 0, 0, 0.801);
  border-color: rgba(255, 255, 255, 0.774);

  p {
    color: rgb(255, 255, 255);
  }
}

.controls {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  animation: float 2s ease-in-out infinite;
}

.howto {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  left: 30px;
  animation: float 2s ease-in-out infinite;
}

.copyright {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: rgba(20, 18, 18, 0.644);
  transition: all 0.2s ease-in-out;
}

.howto_container {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.705);
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 720px;
  width: 1280px;
}

.howto_content {
  display: flex;
  position: relative;
  border-radius: 40px;
  padding: 40px 100px;
  background-color: rgba(0, 0, 0, 0.966);
  gap: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  font-size: 45px;
  letter-spacing: 3px;
  text-align: center;
  box-shadow: rgba(185, 189, 190, 0.582) 0px 2px 4px 0px,
    rgba(151, 164, 170, 0.637) 0px 2px 16px 0px;
}

.howto_content p {
  margin: 0;
}

.copyright_container {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.705);
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 720px;
  width: 1280px;
}

.copyright_content {
  display: flex;
  position: relative;
  border-radius: 40px;
  padding: 90px 100px;
  background-color: rgba(0, 0, 0, 0.966);
  gap: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  box-shadow: rgba(185, 189, 190, 0.582) 0px 2px 4px 0px,
    rgba(151, 164, 170, 0.637) 0px 2px 16px 0px;
}

.copyright_content h5 {
  color: rgb(253, 213, 213);
  letter-spacing: 5px;
  margin: 0 0 20px 0;
  font-size: 40px;
}

.copyright_content p {
  margin: 0;
}

.close_button {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 0.2s ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.controls:hover,
.howto:hover,
.copyright:hover,
.close_button:hover {
  cursor: url("img/cursor/cursor_2.png"), auto;
}

.controls:hover::after {
  content: "Controls";
  position: absolute;
  top: 50%;
  left: -230px;
  transform: translateY(-50%);
  background-color: rgba(20, 18, 18, 0.8);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: digitalDisco;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: none;
}

.howto:hover::after {
  content: "How to play";
  position: absolute;
  top: 50%;
  right: -300px;
  transform: translateY(-50%);
  background-color: rgba(20, 18, 18, 0.8);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: digitalDisco;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: none;
}

.copyright p {
  color: white;
  font-family: digitalDisco, Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
}

.controls img {
  transition: transform 0.3s ease;
  height: 80px;
  width: 80px;
}

.howto img {
  transition: transform 0.3s ease;
  height: 80px;
  width: 80px;
}

.controls:hover img,
.howto:hover img,
.copyright:hover,
.close_button:hover {
  transform: scale(1.1);
}

canvas {
  transition: opacity 3s ease-in-out;
  background-color: black;
  display: block;
}

.darken {
  background-color: rgba(0, 0, 0, 1);
}

#start_screen {
  background-image: url(./img/start_screen/start_city.png);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin-bottom: 100px;
  height: 720px;
  width: 1280px;
  transition: opacity 1s ease-in-out, visibility 0s 2s;
  background-color: rgba(0, 0, 0, 0);
  visibility: visible;
}

#end_screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
  height: 720px;
  width: 1280px;
  visibility: hidden;
  transition: opacity 1s ease;
}

#end_screen img {
  height: 350px;
}

#end_screen button {
  border: 2px solid;
  font-size: 50px;
  background-color: transparent;
  color: white;
}

.endscreen_buttons {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  canvas {
    width: 100%;
  }

  #start_screen {
    width: 100%;
  }

  .instructions {
    display: none !important;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-height: 720px) {
  canvas {
    height: 100vh !important;
  }

  #start_screen {
    height: 100vh !important;
  }
}

.instructions {
  opacity: 0;
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

.description {
  min-width: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description img {
  height: 90px;
  width: 100px;
}

.description p {
  font-size: 35px;
}

.spacebar {
  width: 500px !important;
}
